/***********************  reset **********************************/
html, body, div,
h1, h2, h3, h4, h5, h6, 
p, b, i, a{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body{
    width:100%;
    height:100%;
    background-color:rgb(30,30,30);
}
input{
    vertical-align:middle;
}

p,
h1, h2, h3, h4, h5, h6,
li{
    padding:1% 2%;
    font-size:10pt;
}
h1, h2, h3, h4, h5, h6{
    padding-top:2%;
}
h1{
    font-size:70pt;
}
h3{
    font-size:13pt;
}
ul{
    padding:1%;
    margin: 0 0 0 20px
}
a{
    text-decoration:none;
    color:white;
}


/***********************************************************/
.clear{
    clear:both;
}
#wrap1,#wrap2{
/*    height:100%;*/
    width:50%;
    float:left;
    text-align:center;
    color:white;
}
.wrap-h{
    height:90%;
    max-height:600px;
    width:100%;
}
#wrap1{
    background-color:rgb(0,80,120);
}
#wrap2{
    background-color:rgb(180,120,13);
}
#footer{
    position:fixed;
    bottom:0px;
    width:100%;
    padding: 5px 0;
    text-align: right;
    background-color:rgb(30,30,30);
    color:white;
    font-size:80%;
}
table{
    margin:0 auto;
    margin-top:3%;
    width:80%;
    max-width:500px;
}
table.r4{
    height:40%;
}
table.r1{
    height:10%;
}
table.p{
    height:20%;
}
td{
    background-color:rgb(30,30,30);
    width:20%;
    text-align:center;
    font-size:30px;
    color:white;
}
td.e{
    background-color:transparent;
}
input{
    background-color:rgb(100,255,100);
    width:100%;
    height:100%;
    color:black;
    font-size:30px;
    text-align:center;
}
#counter1,#counter2{
    background-color:transparent;
    font-size:60px;
}
#previous1,#previous2{
    font-size:20px;
}
